#content{
    display: flex;
    flex-wrap: wrap;
    border: solid red;
    height: 100vh;
}

.boxes{
    flex: 1 0 20%;
    background-color: aqua;
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hovering{
    background-color: blueviolet;
}

/* .boxes:hover{
    background-color: bisque;
} */