body{
    display: flex;
    justify-content: center;
}

#mainContainer{
    display: grid;
    border: solid red;
    height: 100vh;
    width: 100vh;
}

.boxes{
    background-color: aqua;
    border: solid red;
}

.hovered{
    background-color: blueviolet;
}
