#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border: solid red;
    height: 100vh;
}

.boxes{
    flex: 1 1 20%;
    background-color: aqua;
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}

div {

}